{% extends 'base.html' %} {% block content %} {% load staticfiles %}

<link href="{% static 'css/como_funciona.css' %}" rel="stylesheet">
<style>
   
        #passo_1_foto {
            width: 100%;
            height: 100%;
            padding-top: 0px;
            padding-left: 0px;
        }
           #passo_2_foto {
            width: 100%;
            height: 100%;
            padding-top: 0px;
            padding-left: 0px;
        }
           #passo_3_foto {
            width: 100%;
            height: 100%;
            padding-top: 0px;
            padding-left: 0px;
        }
           #passo_4_foto {
            width: 100%;
            height: 100%;
            padding-top: 0px;
            padding-left: 0px;
        }
    
</style>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Veja como é fácil e rápido!!</h2>
                <h3 class="section-subheading text-muted">Como funciona?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img id="passo_1_foto" class="img-circle img-responsive passo-a-passo foto" src="{% static '/img/dispositivos.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" style="margin-top: 18%;">
                                <h4>Acesse o nosso Clube.</h4>
                            </div>
                            {% comment %}
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                    totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et
                                    ea quo dolore laudantium consectetur!</p>
                            </div>{% endcomment %}
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img id="passo_2_foto" class="img-circle img-responsive" src="{% static '/img/salada_desenho.png' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" style="margin-top: 18%;">
                                <h4>Visualize os descontos dos produtos e serviços.</h4>
                            </div>
                            {% comment %}
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                    totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et
                                    ea quo dolore laudantium consectetur!</p>
                            </div>{% endcomment %}
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img id="passo_3_foto" class="img-circle img-responsive" src="{% static '/img/pagamento.jpeg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" style="margin-top: 18%;">
                                <h4> Adquira o pacote de descontos.</h4>
                            </div>
                            {% comment %}
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                    totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et
                                    ea quo dolore laudantium consectetur!</p>
                            </div>{% endcomment %}
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img id="passo_4_foto" class="img-circle img-responsive" src="{% static '/img/check.png' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading" style="margin-top: 18%;">
                                <h4>Agora é só usar com os nossos parceiros.</h4>

                            </div>
                            {% comment %}
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                    totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et
                                    ea quo dolore laudantium consectetur!</p>
                            </div>{% endcomment %}
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <a href="/">
                                <h4>Veja
                                    <br>nossas
                                    <br>ofertas!</h4>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



{% endblock content %}