

{% extends 'base.html' %} {% block content %}


<div style="height:120px"> </div>


   


<div class= "container"> 
 	
 	<em class="regras"> <a class="regras" href="{% url 'ofertas' title.books.id %}"> < Voltar para ofertas </a>   </em>

  

  <hr class="section-heading-spacer">

	{% for sales in sales %}




<div class="content-section-b">

  

<div class="row">


  <h2 class="section-heading">
{{sales.name}}

<br>

</h2>

<h4> {{sales.description}}</h4>

 <!--
  <img src="{{ MEDIA_URL }}{{sales.image}}" class="img-rounded" alt="" width="304" height="236">

  <img src="{{ MEDIA_URL }}{{sales.image2}}" class="img-rounded" alt="" width="304" height="236">

  <img src="{{ MEDIA_URL }}{{sales.image3}}" class="img-rounded" alt="" width="304" height="236">
--> 

<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">

<div class="clearfix"></div>

    
    
    <div class="thumbnail neil">

      <div class="caption" style="color:black">


        <h3> <i class="fa fa-map-marker fa-5x"></i>  Endereço: </h3>
        <p> {{sales.partner.name}} </p>
        <p>{{sales.partner.address}} </p>
        
      </div>
    </div>

    
    <div class="thumbnail neil">
      <div class="caption" style="color:black">
        <h3> <i class="fa fa-mail-forward"></i> Contatos:  </h3>
        <p>{{sales.partner.phone}} </p>
        <p> {{sales.partner.site}} </a></p>
        
      </div>
    </div>

    
    <div class="thumbnail neil">
      <div class="caption" style="color:black">
        <h3> <i class="fa fa-list-alt fa-5x"></i> Regras de uso:  </h3>
        <p>{{sales.rules}} </p>
       
        
      </div>
    </div>

    <p></p>
    <div class="thumbnail neil">
      <div class="caption detal" style="color:black">

        <h3> <i class="fa fa-calendar fa-5x"></i> Validade:  </h3>
        <p>{{sales.validity}} </p>
       
        
      </div>
    </div>
  




</div>

<div align="center"> 
<div class="col-lg-5 col-sm-pull-6 col-sm-6">
<img src="{{ MEDIA_URL }}{{sales.image}}" class="img-rounded" alt="" width="404" height="236">
<p></p>
  <img src="{{ MEDIA_URL }}{{sales.image2}}" class="img-rounded" alt="" width="404" height="236">
<p></p>
  <img src="{{ MEDIA_URL }}{{sales.image3}}" class="img-rounded" alt="" width="404" height="236">
</div>
  

</div>
</div> 

</div>
</div>


{% endfor %}










<div style="height:20px"> </div>



{% endblock content %}