
<!-- herda da base e inícia seu bloco de conteúdo --> 

{% extends 'base.html' %}
{% block content %}



 

 

    
    <header>



       
            <div class="row">
                <div class="intro-header" id="introd">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="intro-message">
<h1>Ofertas imperdíveis e saudáveis</h1>




<div class="page-scroll">
<a class="btn btn-default btn-lg" href="#portfolio">

<span class="network-name">Conheça nossas ofertas</span>
</a>
</div>

</div>
</div>
</div>
</div>
</div>
            </div>
        
    </header>




    <section id="portfolio">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">


     
                    <h3 class="section-subheading text-muted">Veja todos os nossos E-books de ofertas  </h3>
</div>




</div> 

</div>


</section>



   



<div class="container"> 
<div class="row">
  {% for books in book %}
  {% if books.status == "p" %} 


  <div class="col-sm-6 col-md-4" style="margin-left:30px;">

  
    <div class="thumbnail" style="background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.5)),
    url({{ MEDIA_URL }}{{books.image}})no-repeat;width:90%;height:110%; ">

    
       
     
      <div class="caption" style="color:white">
        <h3>{{books.name}}</h3>
        <p>{{books.description}}</p>
         <p> Valor R$:{{books.value}}</p>
    
    
    </div>



    </div>


<div id="livros">
        <p><a href="{% url 'ofertas' books.id %}" class="btn btn-primary" role="button">Veja todas as ofertas</a> </p>
        </div>
        
    
  </div>




{% endif %}
{% endfor %}



</div>
</div> 
   




    
</header> 

  
    
{% endblock content %}
    