{% extends 'base.html' %}
{% block content %}

<div style="height:80px"> </div>




<div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
               
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">



            <div class="row">

                

                <div class="row">
  <div class="col-sm-4 portfolio-item">

     {% for compras in compras %}

                 {% if compras != '' %}
                   
    <div class="thumbnail">

       
        <img src="{{ MEDIA_URL }}{{compras.sale.image}}" > 
      
      <div class="caption" style="color:black">
        <h3>{{compras.sale.name}}</h3>
        {% if compras.state == '1' %}
        <p> Disponível</p>
        {% else %}
        <p> Utilizado</p>
        {%  endif %}
        
        <p> Valor: R$ {{compras.sale.value}}</p>
        <p> Número do pedido:{{compras.id_user_sale}}</p>
        
      </div>
    </div>
  </div>

   {% else %}  

<h1> Não existem pedidos ativos em seu nome </h1>


</div>
              
             



                {% endif %}

				
                {% endfor %}


                
                
            </div>
        </div>
    </section>

</div> 
</div> 
<!-- --> 



{% endblock content %}