{% extends 'base.html' %}
{% block content %}

<div style="height:80px"> </div>




<div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
               
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">



            <div class="row">

                

               

              
             



               


                
                
            </div>
        </div>
    </section>

</div> 
</div> 
<!-- --> 


<div class="container"> 
<div class="row">
  {% for compras in compras %}
  
  {% if compras != none %} 


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ MEDIA_URL }}{{compras.sale.image}}" alt="...">
      <div class="caption" style="color:black" >
        <h3>{{compras.sale.name}}</h3>
        {% if compras.state == '1' %}
        <p><strong> Status: </strong> Disponível</p>
        {% else %}
        <p> <strong>Status: </strong> Utilizado</p>
        {%  endif %}
        
        <p>  <strong>Valor: </strong> R$ {{compras.sale.value}}</p>
        <p> <strong> Número do pedido: </strong>{{compras.id_user_sale}}</p>
      </div>
    </div>
  </div>

  {% else %}

   <div class="caption" style="color:black" >
  <h3> Não existem pedidos ativos em seu nome     </h3>
   </div>

{% endif %}
{% endfor %}



</div>
</div> 



{% endblock content %}