 {% extends 'base.html' %} {% block content %} {% load static from staticfiles %}

<link href="{% static 'css/sobre.css' %}" rel="stylesheet">

<div id="img_header">
        <img id="img_central" src="{% static '/img/sobre.jpg' %}">

</div>

<div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                        <h2>Veg Descontos - O que é ?  <br><br>
                                <p>
                                        O “Veg Descontos” é o primeiro clube de descontos para vegetarianos do Brasil. <br><br>

Nós conectamos vegetarianos, veganos e simpatizantes à empresas que fornecem produtos e serviços neste mercado, oferecendo qualidade, comodidade e descontos.<br><br>

Aqui têm muitas vantagens para nossas empresas parceiras: acesso ao público alvo concentrado, aumento das vendas, visibilidade da marca, além de ser uma proposta sem riscos e sem custos.<br><br>

Para nossos clientes, também oferecemos grandes vantagens: disponibilizamos uma curadoria de produtos e serviços de qualidade, além de negociar vários descontos.<br><br>

Assim fica mais fácil aproveitar a vida!
                                </p>
                        </h2>

                </div>
        </div>
</div>

{% endblock content %}