
{% extends 'base.html' %}
{% block content %}
{% load static from staticfiles %}

<link href="{% static 'css/sobre.css' %}" rel="stylesheet">

<div id="img_header">
	<img id="img_central" src="{% static '/img/sobre.jpg' %}">

</div>

<div class="container">
        <div class="row">
             <div class="col-lg-12 text-center">
                    <h2>Sobre o Vegdescontos <p> 
                     aqui entra mais informação  </p> </h2>
                   
                </div>
        </div>
</div>

{% endblock content %}
