
<!-- herda da base e inícia seu bloco de conteúdo --> 

{% extends 'base.html' %}
{% block content %}



 

 

    
    <header>



       
            <div class="row">
                <div class="intro-header2" id="introd">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="intro-message">

<h1>Veg Descontos - O que é?</h1>



</div>
</div>
</div>
</div>
</div>
            </div>
        
    </header>




    <section id="portfolio">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">




</div>

<div class="col-lg-12 text-center">
<h3>O “Veg Descontos” é o primeiro clube de descontos para vegetarianos, veganos e admiradores de comida e hábitos saudáveis do Brasil</h3>
<hr>
</div>

<div class="col-lg-12 text-center">

<p>Nasceu de um sonho de querer ajudar as pessoas a terem uma vida mais saudável e contribuir com um mundo mais sustentável .</p>


<p>Somos uma empresa inovadora e conectamos vegetarianos, veganos e simpatizantes à parceiros que fornecem produtos e serviços deste mercado, oferecendo qualidade, comodidade e descontos.</p>



<p>Nossa missão é encantar os nossos clientes e parceiros fazendo a vida mais saudável, prática, divertida e principalmente mais econômica.</p>

</div>



</div>



</div> 

</div>


</section>



   



<div class="container"> 
<div class="row">






  



</div>
</div> 
   




    
</header> 

  
    
{% endblock content %}
