appdirs==1.4.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.6
django-moip==0.1.1
furl==0.5.7
gunicorn==19.6.0
lxml==3.7.3
orderedmultidict==0.7.11
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
six==1.10.0
static3==0.7.0
Unipath==1.1
