
.card-container.card {
    max-width: 350px;
    padding: 40px;
}
.btn {
    -moz-user-select: none;
    cursor: default;
    font-weight: 700;
    height: 36px;
}
.card {
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 50px auto 25px;
    padding: 20px 25px 30px;
}
.profile-img-card {
    border-radius: 50%;
    display: block;
    height: 96px;
    margin: 0 auto 10px;
    width: 96px;
}
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0;
    min-height: 1em;
    text-align: center;
}
.reauth-email {
    box-sizing: border-box;
    color: #404040;
    display: block;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form-signin #inputEmail, .form-signin #inputPassword {
    direction: ltr;
    font-size: 16px;
    height: 44px;
}
.form-signin input[type="email"], .form-signin input[type="password"], .form-signin input[type="text"], .form-signin button {
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(104, 145, 162);
    outline: 0 none;
}
.btn.btn-signin {
    background-color: #0c8059;
    border: medium none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0;
    transition: all 0.218s ease 0s;
}
.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}
.forgot-password {
    color: rgb(104, 145, 162);
}
.forgot-password:hover, .forgot-password:active, .forgot-password:focus {
    color: rgb(12, 97, 33);
}
