
#img_header{
	background: rgba(0, 0, 0, 0.5) url("../img/sobre.jpg") no-repeat scroll center center / cover ;
    color: #f8f8f8;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;

}